:root {
    --color-gray: hsl(0, 0%, 93%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-orange: hsl(6, 98%, 64%);
    --color-blue: hsl(240, 100%, 50%);
    --color-yellow: hsl(63, 100%, 83%);
    --color-green: hsl(128, 100%, 86%);
    --color-purple: hsl(267, 100%, 85%);
    --color-light-blue: hsl(225, 100%, 85%);
    --fs-1: 3.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.25rem;
    --fs-4: 1rem;
    --fs-5: 0.875rem;
    --fs-6: 0.875rem;
    --fw-1: 500;
    --fw-2: 400;
    --border: 2px solid var(--color-gray);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fs-4);
    background-color: var(--color-gray);
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    background-color: var(--color-white);
    max-width: 100rem;
    margin-inline: auto;
}

.nav {
    padding: 1.25rem;
}

.nav--top {
    border-bottom: var(--border);
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__item {
    margin-inline: 0.625rem;
}

.nav__logo {
    width: 2rem;
    height: 2rem;
}

.nav__item--right {
    margin-left: auto;
}

.nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
}

.nav__link--sm {
    font-size: var(--fs-5);
}

.active__link {
    color: var(--color-orange);
}

.other__link {
    color: var(--color-blue);
}

@media screen and (min-width: 90em) {
    :root {
        --fs-4: 1.25rem;
        --fs-5: 1rem;
    }
}