:root {
    --color-gray: hsl(0, 0%, 93%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-orange: hsl(6, 98%, 64%);
    --color-blue: hsl(240, 100%, 50%);
    --color-yellow: hsl(63, 100%, 83%);
    --color-green: hsl(128, 100%, 86%);
    --color-purple: hsl(267, 100%, 85%);
    --color-light-blue: hsl(225, 100%, 85%);
    --fs-1: 3.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.25rem;
    --fs-4: 1rem;
    --fs-5: 0.875rem;
    --fs-6: 0.875rem;
    --fw-1: 700;
    --fw-2: 500;
    --fw-3: 400;
    --border: 2px solid var(--color-gray);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fs-4);
    font-weight: var(--fw-3);
    line-height: 1.5;
    background-color: var(--color-gray);
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    background-color: var(--color-white);
    max-width: 100rem;
    margin-inline: auto;
    overflow: auto;
}

.nav {
    padding: 1.25rem;
}

.nav--desktop {
    display: none;
}

.nav--mobile {
    display: block;
}

.nav--mobile--active {
    background-color: var(--color-blue);
}

.nav--top {
    border-bottom: var(--border);
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__list--mobile {
    display: none;
    position: absolute;
    top: 4.50rem;
    left: 0;
    background-color: var(--color-blue);
    width: 100%;
    transform-origin: top center;
    animation: showMobileMenu 1s;
}

.nav__list--mobile--active {
    display: flex;
    flex-flow: column;
    align-items: start;
}

.nav__item {
    margin-right: 0.9375rem;
}

.nav__item--mobile {
    margin-block: 0.625rem;
    margin-left: 1.25rem;
}

.nav__logo {
    width: 2rem;
    height: 2rem;
    fill: var(--color-black);
}

.nav__logo--mobile {
    fill: var(--color-white);
}

.nav__item--right {
    margin-left: auto;
}

.nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: var(--fw-2);
}

.nav__link--mobile {
    color: var(--color-white);
}

.nav__link__menu {
    border: none;
    background-color: transparent;
    font: inherit;
    padding: 0;
    cursor: pointer;
    font-weight: var(--fw-2);
}

.nav__link--sm {
    font-size: var(--fs-5);
}

.active-link {
    text-decoration: none;
    color: var(--color-orange);
}

.other-link {
    text-decoration: none;
    color: var(--color-blue);
}

.section {
    margin: 0 min(8.33rem, 8.33vw) min(8.33rem, 8.33vw);
}

.section--text__header {
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    margin-bottom: 1.3125rem;
}

.section--text__paragraph {
    margin-bottom: 1rem;
}

.banner {
    min-height: 100vh;
    background-image: url("../assets/images/speaker-wall.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
}

.banner__header {
    font-size: var(--fs-1);
    font-weight: var(--fw-1);
    color: var(--color-orange);
}

.section--complex {
    position: relative;
    display: flex;
    align-items: center;
}

.section--complex--single-image {
    height: min(58.33rem, 58.33vw);
}

.section--complex--multiple-image {
    height: min(75rem, 75vw);
}

.section--complex--right {
    margin-right: 0;
}

.section--complex--left {
    margin-left: 0;
    justify-content: end;
}

.section--complex__background {
    width: min(58.33rem, 58.33vw);
    height: 100%;
    position: absolute;
}

.section--complex__background--1 {
    right: 0;
    background-color: var(--color-yellow);
}

.section--complex__background--2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-purple);
}

.section--complex__background--3 {
    left: 0;
    background-color: var(--color-green);
}

.section--complex__image {
    position: relative;
    object-fit: cover;
}

.section--complex__image--big {
    width: min(41.66rem, 41.66vw);
    height: min(41.66rem, 41.66vw);
}

.section--complex__image--small {
    width: min(33.33rem, 33.33vw);
    height: min(25rem, 25vw);
}

.section--complex__image__margin--left {
    margin-left: min(8.33rem, 8.33vw);
}

.section--complex__image__margin--top {
    margin-top: min(8.33rem, 8.33vw);
}

.section__job__teaser__text__container {
    padding: min(8.33rem, 8.33vw);
    display: grid;
    place-items: center;
    background-color: var(--color-light-blue);
}

.footer {
    border-top: var(--border);
}

.section--footer {
    margin-top: min(8.33rem, 8.33vw);
}

.section--footer__header {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    margin-bottom: min(4.16rem, 4.16vw);
}

.section--footer__container {
    display: grid;
    row-gap: 4.16667vw;
    column-gap: 0.625rem;
    margin-bottom: 4.16667vw;;
}

.section--footer__nav__header {
    font-weight: var(--fw-2);
}

.section--footer__nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section--footer__nav__link {
    text-decoration: none;
    color: var(--color-black);
}

.section--footer__nav__input__group{
    display: flex;
    margin-top: 1.25rem;
}

.section--footer__nav__input {
    font: inherit;
    border: none;
    background-color: var(--color-gray);
    padding: 0.4rem 0.75rem;
    width: 100%;
}

.section--footer__nav__button {
    font: inherit;
    font-weight: var(--fw-2);
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 0.35rem 1.5rem;
    text-wrap: nowrap;
}

.social-links {
    margin: 0;
    padding: 0;
    margin-top: 1.25rem;
    list-style-type: none;
    display: flex;
}

.social-logo {
    width: 3rem;
    height: 3rem;
}

.section--footer__nav__select {
    font: inherit;
    font-size: var(--fs-6);
    font-weight: var(--fw-2);
    max-width: 12.5rem;
    margin-top: 1.25rem;
    border: none;
    background-color: var(--color-gray);
    padding: 0.4rem 0.75rem;
}

.section--footer__small__nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section--footer__small__nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--fs-6);
    font-weight: var(--fw-2);
}

@media screen and (min-width: 48em) {
    .section--text {
        width: 66.66vw;
        margin-inline: auto;
    }
}

@media screen and (min-width: 64em) {
    .nav--desktop {
        display: block;
    }
    
    .nav--mobile {
        display: none;
    }

    .section--footer__container {
        grid-template-columns: 3fr 3fr 4fr;
    }

    .section--footer__nav:nth-child(1) {
        order: 1;
    }
    
    .section--footer__nav:nth-child(4) {
        order: 2;
    }
    
    .section--footer__nav:nth-child(5) {
        order: 3;
        grid-column: 2 / span 2;
    }

    .section--footer__small__nav__list {
        display: flex;
    }

    .section--footer__small__nav__item {
        margin-right: 0.875rem;
    }
}

@media screen and (min-width: 70.25em) {
    .section--text__paragraph {
        margin-bottom: 1.25rem;
    }
}

@media screen and (min-width: 80em) {
    .nav__item {
        margin-right: 1.5625rem;
    }

    .section--text {
        width: 50vw;
    }

    .section__job__teaser {
        display: flex;
    }

    .section__job__teaser__image {
        width: min(41.66rem, 41.66vw);
        height: min(41.66rem, 41.66vw);
        object-fit: cover;
    }
    
    .section__job__teaser__text__container {
        width: min(41.66rem, 41.66vw);
        height: min(41.66rem, 41.66vw);
    }
}

@media screen and (min-width: 90em) {
    :root {
        --fs-1: 6.25rem;
        --fs-2: 2.8125rem;
        --fs-3: 1.875rem;
        --fs-4: 1.25rem;
        --fs-5: 1rem;
    }

    .section--text__header {
        margin-bottom: 0.875rem;
    }
}

@keyframes showMobileMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}